footer {
    text-align: center;
    display: flex;
    padding: 1rem;
    background-color: var(--footer-bg, #333);
    color: var(--footer-text, white);
    font-family: inherit;
   
    border: none;
    
}
footer p {
    border-radius: 5px;
    font-size: 1.2em;
}
