
:root {
    --primary-color: #2171c1;
    --secondary-color: #ddd;
    --background-color: #f7f3f3;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
  
    
    
}
.book-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: 5px solid #603939;
}


.book-item {
    max-width: 100%;
    display:flex;
    flex-direction: column;
    align-content: center;
    align-content: center;
    border: 1px solid #6a1e1e;
    gap: 1rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-item h2 {
    margin: 0.5rem 0;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    line-clamp: 2; 
}
.book-item img {
    max-width: 100%;
    border-radius: 4px;
    justify-content: center;
}


.book-actions button {
    margin: 0.5rem;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.book-actions button:hover {
    background-color: var(--primary-color);
    color: white;
}

h1 {
    text-align: center;
    margin: 1rem;
}

h2  {
    text-align:start;
    margin: 1rem;
    font-size: 1.2rem;
    border: 5px solid #ddd;
}

p {
    margin: none;
    font-size: 1rem;
    border: 5px solid #ddd;
}



@media (max-width: 1024px) {
    .book-item {
        flex: 1 1 calc(50% - 1.5rem);
        max-width: calc(50% - 1.5rem);
    }
}

@media (max-width: 768px) {
    .book-item {
        flex: 1 1 calc(100% - 1.5rem);
        max-width: calc(100% - 1.5rem);
    }
}
