:root {
    --primary-color: #92abc4;
    --secondary-color: #ddd;
    --background-color: #f7f3f3;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --sidenav-bg: #333; /* Modified */
    --sidenav-text: #fff; /* Modified */
    --link-color: #3f8769; /* Modified */
    --link-hover-bg: #007bff; /* Modified */
    --link-hover-color: #fff; /* Modified */
    --footer-text: #aaa; /* Modified */
    --border-color: #bea9a9; /* Modified */
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
    background-color: transparent;
    color: var(--sidenav-text, #fff);
    padding: 1rem;
    /* text-align: center; */
    z-index: 1;
    overflow-y: auto;
    font-size: 1.0em;
    font-weight: bold;
}

.sidenav.collapsed {
    transform: translateX(-100%); /* Hidden state */
}






